/* ========================================================= */
/* General styling & Desktop View */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}
img {
  display: block;
}
li {
  position: relative;
}
/* ========================================================= */
/* Scroll bar */
/* Scroll bar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scroll bar Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/*Scroll bar Handle */
::-webkit-scrollbar-thumb {
  background: #646266;
}
html {
  scroll-behavior: smooth;
}

/* ========================================================= */
/* General container */
.general_container {
  min-height: 100vh;
  background: linear-gradient(-45deg, rgb(0, 0, 0), rgba(182, 0, 182, 0.5));
}

/* ========================================================= */
/* nav container */
.nav_container {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: end;
  background-color: #000000;
}

/* ========================================================= */
/* nav bar */
.nav {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* Logo */
.logo {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: white;
}

/* ========================================================= */
/* nav Logo */
.nav_logo {
  width: 47px;
  height: 42px;
}

/* ========================================================= */
/* navigation icons */
.navigation_icons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* ========================================================= */
/* icons container */
.icons_container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ========================================================= */
/* icons text and profile name */
.icon_text,
.profile_name {
  font-weight: 300;
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Catamaran", sans-serif;
}

/* ========================================================= */
/* icons  */
.icons {
  font-size: 1.4rem;
}

/* ========================================================= */
/* user profile */
.user_profile {
  width: 30px;
  height: 28px;
}

/* ========================================================= */
/* profile name */
.profile_name {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

/* 

/* ========================================================= */
/* play icon */
.play_icon {
  width: 6px;
  height: 8px;
  margin-left: 0.3rem;
}

/* ========================================================= */
/* general chat setup container */
.general_chat_setup_container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 12vh);
}

/* ========================================================= */
/*  freinds section */
.friends {
  width: 449px;
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  background: #28282882;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* ========================================================= */
/*  message title container */
.message_title_container {
  width: 80%;
  margin: auto;
  height: 20%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/*  message title */
.message_title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* ========================================================= */
/*  Edit icon*/
.edit_icon {
  width: 20px;
  height: 20px;
}

/* ========================================================= */
/*  search message container*/
.search_message_container {
  width: 80%;
  height: 10%;
  margin: auto;
  display: flex;
  border-radius: 15px;
  align-items: center;
  background: #282828;
  justify-content: space-evenly;
}

/* ========================================================= */
/*  search icon*/
.search_icon {
  width: 20px;
  height: 17px;
}

/* ========================================================= */
/*  search input */
.search_input {
  border: none;
  width: 250px;
  height: 32px;
  outline: none;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 1rem;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: transparent;
}
.search_input:focus {
  color: white;
}

/* ========================================================= */
/*  search icon*/
.reload_icon {
  width: 19px;
  height: 15px;
}

/* ========================================================= */
/*  chat header container*/
.chat_header_container {
  height: 15%;
  border: none;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

/* ========================================================= */
/*  line */
.line {
  height: 100%;
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  align-items: center;
}

/* ========================================================= */
/*  active_line funtionality */
.active_line {
  border-bottom: 4px solid #50164d;
}

/* ========================================================= */
/*  chat header title*/
.chat_header_title {
  height: 80%;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  align-items: center;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* ========================================================= */
/*  active chat message */

.active_chat_messages {
  gap: 40px;
  width: 397px;
  display: none;
  margin-top: 2rem;
  grid-column: auto;
  overflow-y: scroll;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
  height: calc(65% - 5rem);
}

/* ========================================================= */
/*  active group chat message */
.active_group_chat_message {
  display: none;
}

/* ========================================================= */
/*  request chat message */
.request_chat_message {
  display: none;
}

/* ========================================================= */
/*  active message */
.active_message {
  display: flex;
  flex-direction: column;
}

/* ========================================================= */
/*  recent friends chat container */
:is(.recent_friends_chat_container, .group_recent_friends_chat_container) {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/*  Currently open chat functionality */
.currently_open_chat {
  padding: 1rem;
  background: #5a1656;
}
.opened_chat {
  color: black !important;
}

/* ========================================================= */
/* friends_profile */
.friends_profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* ========================================================= */
/* group_profile */
.group_profile {
  border-radius: 10px;
}

/* ========================================================= */
/* about_friend */
.about_friend {
  width: 70%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* ========================================================= */
/* friend name*/
.friend_name {
  gap: 0.5rem;
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  line-height: 16.32px;
  font-family: sans-serif;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

/* ========================================================= */
/* friend emoji */
.friend_emoji {
  width: 18px;
  height: 18px;
}

/* ========================================================= */
/* online status */
.online_status {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #50164d;
}

/* ========================================================= */
/*  camera icon */
.camera_icon {
  width: 20px;
  height: 18px;
}

/* ========================================================= */
/*  recent message */
.recent_message {
  font-weight: 500;
  font-size: 0.7rem;
  color: #ffffff80;
  line-height: 12.24px;
  letter-spacing: -0.01em;
  font-family: sans-serif;
}

/* ========================================================= */
/*  recent group message */
.recent_group_message {
  color: #ffffff;
  text-transform: capitalize;
}

/* ========================================================= */
/* chat container section */
.chat_container {
  width: 70%;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    233.4deg,
    #161515 72.23%,
    rgba(214, 24, 206, 0.92) 105.25%
  );

  border-radius: 15px 0px 0px 0px;
}

/* ========================================================= */
/* rooms container */
.rooms_container {
  height: 12%;
  display: flex;
  justify-content: space-between;
}

/*
========================================================= */
/* mobile view back icon */
.back_icon {
  display: none;
}

/* ========================================================= */
/*room kind  */
.room_kinds {
  gap: 4rem;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================================= */
/* room */
.room {
  display: flex;
  height: 100%;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.7rem;
  position: relative;
  align-items: center;
  line-height: 18.15px;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

/* ========================================================= */
/* open room */
.open_room {
  width: 5px;
  height: 5px;
  bottom: 16%;
  position: absolute;
  border-radius: 50%;
}

/* ========================================================= */
/* opened room */
.opened_room {
  background-color: white;
}

/* ========================================================= */
/*  see active friends container */
.see_active_friend_container {
  display: none;
}

/* ========================================================= */
/*  active green div */
.active_green_div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #31b957;
}

/* ========================================================= */
/* craete room container */
.create_room_container {
  width: 30%;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 0.6rem;
  align-items: center;
  line-height: 18.15px;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
}

/* ========================================================= */
/* add icon */
.add_icon {
  width: 40px;
  height: 40px;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 50%;
  align-items: center;
  background: #6c49f8;
  justify-content: center;
}

/* ========================================================= */
/* chatting page  container */
.chatting_page_container {
  height: 88%;
  display: flex;
  border-radius: 15px;
  background: #28282882;
}

/* ========================================================= */
/* chatting page  */
.chatting_page {
  width: 70%;
  display: none;
  padding-left: 1rem;
  padding-right: 2rem;
}

/* ========================================================= */
/* group chatting page  */
.group_chatting-page {
  display: none;
}

/* ========================================================= */
/* chatting page open  */
.chatting_page_open {
  display: block;
}

/* ========================================================= */
/*currently chatting friend  */
.currently_chatting_friend {
  height: 15%;
  display: flex;
  padding-left: 1rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* current chat detail  */
.current_chat_detail {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* profile picture */
.profile_picture {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

/* ========================================================= */
/* active user detail */
.active_user_detail {
  position: relative;
  font-family: sans-serif;
}

/* ========================================================= */
/* active user name */
.active_user_name {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24.48px;
  margin-bottom: 0.1rem;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

/* ========================================================= */
/* last seen */
.last_seen {
  font-weight: 500;
  font-size: 0.6rem;
  color: #ffffff80;
  line-height: 12.24px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

/* ========================================================= */
/*  status div position */
.status_div_position {
  top: 20%;
  right: -20% !important;
}

/* ========================================================= */
/* all call icons  */
.all_call_icons {
  gap: 40px;
  display: flex;
}

/* ========================================================= */
/* call_icon*/
.call_icon {
  width: 19px;
  height: 19px;
}

/* ========================================================= */
/* video_call_icon */
.video_call_icon {
  width: 24px;
  height: 20px;
}

/* ========================================================= */
/* help_icon  */
.help_icon {
  width: 20px;
  height: 20px;
}

/* ========================================================= */
/* chat messages  */
.chat_messages {
  gap: 5px;
  height: 70%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  font-family: sans-serif;
}

/* ========================================================= */
/* sender messages  */
.sender_message {
  gap: 10px;
  width: 60%;
  display: flex;
  padding: 1rem;
  margin: 3rem 0;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 20px;
  position: relative;
  align-items: center;
  border-radius: 25px;
  background: #5a1656;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  border-bottom-left-radius: 0;
}

/* ========================================================= */
/* sender messages box design */
.sender_message_box_design {
  left: 0%;
  top: 98%;
  width: 90%;
  height: 20px;
  position: absolute;
  background: #5a1656;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 0,
    15% 100%,
    0 100%,
    0% 70%,
    0% 35%,
    0 0
  );
  border-bottom-left-radius: 20px;
}

/* ========================================================= */
/* sender details */
:is(.sender_emoji, .receiver_emoji) {
  width: 20px;
  height: 20px;
}

/* ========================================================= */
/* sender details */
.sender_details {
  left: 0%;
  gap: 0.5rem;
  width: 100%;
  bottom: 100%;
  display: flex;
  color: #ffffff;
  align-items: end;
  position: absolute;
}

/* ========================================================= */
/* sender profile picture */
.sender_profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* ========================================================= */
/* sender name */
.sender_name {
  font-size: 0.7rem;
}

/* ========================================================= */
/* receiver */
.receiver {
  align-self: end;
  justify-self: end;
  position: relative;
}

/* ========================================================= */
/* receiver messages  */
.receiver_message {
  gap: 10px;
  width: 60%;
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
  align-self: end;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 20px;
  justify-self: end;
  position: relative;
  align-items: center;
  border-radius: 25px;
  background: #ffffff;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  border-bottom-right-radius: 0;
}

/* ========================================================= */
/* receiver messages box design */
.receiver_message_box_design {
  top: 98%;
  width: 90%;
  right: 0%;
  height: 20px;
  position: absolute;
  background: #ffffff;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 99%,
    79% 100%,
    0 0
  );
  border-bottom-right-radius: 15px;
}

/* ========================================================= */
/* receiver details */
.receiver_details {
  padding-right: 1rem;
  justify-content: end;
}

/* ========================================================= */
/* sender message image container*/
.sender_message_image_container {
  position: relative;
}

/* ========================================================= */
/* sender message image */
:is(.sender_message_image, .receiver_message_image) {
  width: 180px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  object-position: 0% 10%;
}

/* ========================================================= */
/* typing area container */
.typing_area_container {
  height: 15%;
  display: flex;
  padding: 1.5rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* typing area */
.typing_area {
  gap: 20px;
  width: 68%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 15px;
  background: #ffffff24;
}

/* ========================================================= */
/* type message input  */
.type_message_input {
  width: 86%;
  height: 36px;
  border: none;
  outline: none;
  padding: 0 1rem;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 13.26px;
  font-family: sans-serif;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  background-color: transparent;
}

/* ========================================================= */
/*  mic recoder icon  */
.mic_recoder_icon {
  width: 12px;
  height: 15px;
}

/* ========================================================= */
/*  recording lines  */
.recording_lines {
  width: 70px;
  height: 15px;
  display: none;
  overflow: hidden;
  align-items: end;
}

/* ========================================================= */
/*  zig zag lines  */
.zig_zag_lines {
  width: 100%;
  fill: red;
  transform: translate(-100%);
  animation: record 10s linear infinite;
}

/* ========================================================= */
/*  show recording lines  */
.show_recording .recording_lines {
  display: block;
}

/* ========================================================= */
/*  remove mic  */
.show_recording .mic_recoder_icon {
  display: none;
}

/* ========================================================= */
/*  typing area  icon  */
:is(.send_arrow_icon, .gallery_icon, .emoji_icon) {
  width: 18px;
  height: 18px;
}

/* ========================================================= */
/*  gallery icon file input */
.gallery_icon_file_input {
  display: none;
}

/* ========================================================= */
/* active friends list  */
.active_friends_list {
  width: 30%;
  display: none;
  color: #ffffff;
  padding-left: 1rem;
  background: linear-gradient(
    233.4deg,
    #161515 72.23%,
    rgba(214, 24, 206, 0.92) 105.25%
  );
}

/* ========================================================= */
/* open active friends list  */
.open_active_friends_list {
  display: block;
}

/* ========================================================= */
/* Direct title */
.direct_title {
  height: 15%;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 32.8px;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran", serif;
}

/* ========================================================= */
/* active group list*/
.active_group_list {
  gap: 20px;
  height: 85%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

/* ========================================================= */
/* active group list*/
.active_group {
  gap: 20px;
  display: flex;
  align-items: center;
}

/* ========================================================= */
/* group profile container */
.group_profile_container {
  position: relative;
}

/* ========================================================= */
/* group profile picture  */
.group_profile_picture {
  width: 38px;
  height: 40px;
}

/* ========================================================= */
/* group online status  */
.group_online_status {
  right: 0%;
  bottom: 5%;
  width: 9px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

/* ========================================================= */
/* group online   */
.group_online {
  background: #31b957;
}

/* ========================================================= */
/* group offline   */
.group_offline {
  background: #646266;
  border: 3px solid #000000;
}

/* ========================================================= */
/*  group name  */
.group_name {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 32.8px;
  font-family: "Catamaran", serif;
}

/* ========================================================= */
/* camera container  */
.camera_container {
  width: 100%;
  height: 100vh;
  display: none;
  position: relative;
}

/* ========================================================= */
/* camera video and canva */

:is(#camera_video, .current_img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========================================================= */
/* camera canva */
.camera_canva {
  display: none;
}

/* ========================================================= */
/*show current picture */
.open_camera_canva .current_img {
  object-fit: contain;
  display: block;
}

/* ========================================================= */
/* close camera video */
.open_camera_canva #camera_video {
  display: none !important;
}

/* ========================================================= */
/* open camera container  */
.open_camera_container .camera_container {
  display: block;
}

/* ========================================================= */
/* close general container  */
.open_camera_container .general_container {
  display: none;
}

/* ========================================================= */
/* close camera  */
.close_camera {
  top: 2%;
  left: 1%;
  padding: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
}

/* ========================================================= */
/* take picture  */
.take_picture {
  left: 46%;
  border: 0;
  bottom: 2%;
  width: 80px;
  height: 80px;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #646266;
}

/* ========================================================= */
/* take picture  div*/
.take_picture_div {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #ffffff;
}

/* ========================================================= */
/* detail container*/
.tooltip-bottom {
  /* Modify size here: */
  top: 80%;
  right: 0%;
  width: 50%;
  z-index: 333;
  height: 400px;
  padding: 1rem;
  display: none;
  position: absolute;
  background: #333;
}

.tooltip-bottom:after {
  content: "";
  top: 0%;
  left: 96%;
  width: 16px;
  height: 16px;
  position: absolute;
  background: #333;
  transform: translate(-50%, -50%) rotate(45deg);
}

.show_detail {
  display: grid;
  color: white;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-family: "Catamaran", serif;
}
.close_detail {
  top: 5%;
  right: 10%;
  color: red;
  position: absolute;
}

/* ========================================================= */
/* emoji container*/
.emoji_container {
  gap: 1rem;
  display: none;
  padding: 1rem;
  overflow: scroll;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}
.show_emoji {
  display: grid;
}

.emoji_container::-webkit-scrollbar {
  display: none;
}

.bubble-bottom {
  --size: 150px;
  /* Modify size here: */
  bottom: 100%;
  left: 0%;
  z-index: 333;
  position: absolute;
  width: 100%;
  background: #333;
  border-radius: 10px;
  height: calc(var(--size) * 0.66);
}

.bubble-bottom:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 0;
  height: 0;
  border: calc(var(--size) * 0.13) solid transparent;
  border-top-color: #333;
  border-bottom: 0;
  margin-left: calc(var(--size) * 0.13 * -1);
  margin-bottom: calc(var(--size) * 0.13 * -1);
}

/* ========================================================= */
/* Start  call*/
.start_call {
  gap: 1rem;
  width: 100%;
  height: 88vh;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: #000000c5;
  font-family: "Catamaran", serif;
}

/* ========================================================= */
/* Start  */
.start {
  display: none;
  background-color: green;
}
.start:hover {
  background-color: #31b957;
}

.cancel {
  background-color: red;
}
.cancel:hover {
  background-color: #d61818;
}

/* ========================================================= */
/* call btn*/
.call_btn {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 15px;
  padding: 1rem 1.5rem;
}

/* ========================================================= */
/* normal call container*/
.normal_call_container {
  width: 100%;
  height: 88vh;
  z-index: 11;
  display: none;
  padding: 0.8rem;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  justify-content: space-between;
}

/* ========================================================= */
/* caller detail*/
:is(.caller_detail, .caller_profile_container) {
  gap: 0.5rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* ========================================================= */
/* caller name*/
.caller_name {
  font-size: 1.4rem;
}

/* ========================================================= */
/* calling text*/
.calling {
  font-size: 0.9rem;
}

/* ========================================================= */
/* time*/
.time {
  font-size: 1rem;
  color: lightgrey;
}

/* ========================================================= */
/* caller_profile*/
.caller_profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* ========================================================= */
/* end call*/
.end_call {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
}

/* ========================================================= */
/* end call svg*/
.end_call svg {
  width: 55px;
  height: 50px;
  cursor: pointer;
}

.end_call:hover {
  background-color: #d61818;
}

/* ========================================================= */
/* open Start  call*/
.open_call {
  display: flex;
}

/* ========================================================= */
/* video call*/
.video_call {
  width: 100%;
  height: 88vh;
  object-fit: cover;
  position: absolute;
  display: none !important;
}

.video {
  display: none;
}

.open_video_call {
  display: block !important;
}

/* ========================================================= */
/* animation*/
@keyframes record {
  to {
    transform: translate(100%);
  }
}

/* ============================================================= */

/* ============================================================= */
/* Mobile View */
@media screen and (width <= 1023px) {
  /* ========================================================= */
  /* scroll bar width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  /* ========================================================= */
  /* General container */
  .general_container {
    overflow: hidden;
  }
  /* ========================================================= */
  /* nav bar */
  .nav {
    position: relative;
  }

  /* ========================================================= */
  /* user profile */
  .user_profile {
    width: 35px;
    height: 30px;
  }

  /* ========================================================= */
  /* play icon */
  .play_icon {
    display: none;
  }

  /* ========================================================= */
  /* icons container */
  .icons_container {
    gap: 1.5rem;
    width: 90%;
  }

  /* ========================================================= */
  /* icons text */
  .icon_text {
    font-size: 0.8rem;
  }

  /* ========================================================= */
  /* icons  */
  .icons {
    width: 24px;
    height: 20px;
  }

  /* ========================================================= */
  /* general chat setup container */
  .general_chat_setup_container {
    height: 88vh;
    flex-direction: column;
  }

  /* ========================================================= */
  /*  freinds section */
  .friends {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    border-radius: 0;
  }

  /* ========================================================= */
  /*  open freinds section */
  .close_friends_list {
    display: none;
  }

  /* ========================================================= */
  /*  message title container */
  .message_title_container {
    height: 14%;
    width: 90%;
  }

  /* ========================================================= */
  /*  search message container*/
  .search_message_container {
    height: 8%;
    width: 90%;
  }

  /* ========================================================= */
  /*  active chat message */
  .active_chat_messages {
    width: 100%;
    margin-top: 0;
    padding: 0.6rem;
    min-height: 54vh;
    padding-bottom: 1rem;
  }

  /* ========================================================= */
  /*  recent friends chat container */
  .recent_friends_chat_container {
    padding: 0.4rem;
  }

  /* ========================================================= */
  /* chat container section */
  .chat_container {
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    transform: translate(100%);
    transition: all 300ms linear;
  }

  /* ========================================================= */
  /* open chat container section */
  .open_chat {
    opacity: 1;
    transform: translate(0);
  }

  /* ========================================================= */
  /* rooms container */
  .rooms_container {
    gap: 2rem;
    width: 100%;
    padding: 0 0.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  /* ========================================================= */
  /* mobile view back icon */
  .back_icon {
    display: flex;
    color: #ffffff;
    align-items: center;
  }

  /* ========================================================= */
  /*room kind  */
  .room_kinds {
    gap: 2rem;
    width: max-content;
  }

  /* ========================================================= */
  /* room */
  .room {
    width: max-content;
    font-size: 0.8rem;
  }

  /* ========================================================= */
  /*  see active friends container */
  .see_active_friend_container {
    gap: 0.5rem;
    display: flex;
    align-items: center;
  }

  /* ========================================================= */
  /*  see active friends */
  .see_active_friends {
    color: white;
    font-weight: 600;
    width: max-content;
    font-size: 0.85rem;
    line-height: 18.15px;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
  }

  /* ========================================================= */
  /* craete room container */
  .create_room_container {
    gap: 1rem;
    width: max-content;
  }

  /* ========================================================= */
  /* craete room */
  .create_room {
    font-size: 0.95rem;
    width: max-content;
  }

  /* ========================================================= */
  /* add icon */
  .add_icon {
    width: 35px;
    height: 35px;
  }

  /* ========================================================= */
  /* chatting page  container */
  .chatting_page_container {
    border-radius: 0;
  }

  /* ========================================================= */
  /* chatting page  */
  .chatting_page {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  /* ========================================================= */
  /* chatting page  */
  .close_chatting_page {
    display: none;
  }

  /* ========================================================= */
  /* chatting page  */
  .currently_chatting_friend {
    padding: 0;
  }

  /* ========================================================= */
  /* sender messages  */
  .sender_message {
    font-size: 0.8rem;
  }

  /* ========================================================= */
  /* receiver messages  */
  .receiver_message {
    font-size: 0.8rem;
  }

  /* ========================================================= */
  /* call_icon*/
  .call_icon {
    width: 17px;
    height: 17px;
  }

  /* ========================================================= */
  /* video_call_icon */
  .video_call_icon {
    width: 20px;
    height: 18px;
  }

  /* ========================================================= */
  /* help_icon  */
  .help_icon {
    width: 20px;
    height: 20px;
  }

  /* ========================================================= */
  /* typing area container */
  .typing_area_container {
    padding: 0.5rem;
  }

  /* ========================================================= */
  /* typing area */
  .typing_area {
    width: 70%;
    padding: 0 0.5rem;
  }

  /* ========================================================= */
  /*  mic recoder icon  */
  .mic_recoder_icon {
    width: 12px;
    height: 15px;
  }

  /* ========================================================= */
  /*  typing area  icon  */
  :is(.send_arrow_icon, .gallery_icon, .emoji_icon) {
    width: 18px;
    height: 18px;
  }

  /* ========================================================= */
  /* active friends list  */
  .active_friends_list {
    width: 100%;
    display: none;
  }

  /* ========================================================= */
  /* open active friends list  */
  .open_mobile_active_friends_list {
    display: block;
  }

  /* ========================================================= */
  /* Direct title */
  .direct_title {
    font-size: 1.2rem;
  }

  /* ========================================================= */
  /* active group list*/
  .active_group_list {
    padding: 0.5rem 0;
  }

  /* ========================================================= */
  /* group profile picture  */
  .group_profile_picture {
    width: 44px;
    height: 44px;
  }

  /* ========================================================= */
  /* group online status  */
  .group_online_status {
    width: 10px;
    height: 10px;
  }

  /* ========================================================= */
  /*  group name  */
  .group_name {
    font-size: 1rem;
  }

  /* ========================================================= */
  /* take picture  */
  .take_picture {
    left: 40%;
  }
}

/* ============================================================= */

/* ============================================================= */
/* Ipad View */
@media screen and (764px <= width <= 1023px) {
  /* ========================================================= */
  /* nav logo */
  .nav_logo {
    width: 50px;
    height: 45px;
  }

  /* ========================================================= */
  /* user profile */
  .user_profile {
    width: 40px;
    height: 34px;
  }

  /* ========================================================= */
  /* icons text */
  .icon_text {
    font-size: 1rem;
  }

  /* ========================================================= */
  /* icons  */
  .icons {
    font-size: 1.2rem;
  }

  /* ========================================================= */
  /*  message title  */
  .message_title {
    font-size: 1.5rem;
  }

  /* ========================================================= */
  /*  edit icon  */
  .edit_icon {
    width: 25px;
    height: 25px;
  }

  /* ========================================================= */
  /*  search icon */
  .search_icon {
    width: 23px;
    height: 20px;
  }

  /* ========================================================= */
  /*  search input  */
  .search_input {
    font-size: 1.3rem;
  }

  /* ========================================================= */
  /*  reload icon  */
  .reload_icon {
    width: 21px;
    height: 18px;
  }

  /* ========================================================= */
  /*  chat header title  */
  .chat_header_title {
    font-size: 1.2rem;
  }

  /* ========================================================= */
  /* friends profile */
  .friends_profile {
    width: 50px;
    height: 50px;
  }

  /* ========================================================= */
  /* friend name */
  .friend_name {
    font-size: 1.1rem;
  }

  /* ========================================================= */
  /* friends emoji */
  .friend_emoji {
    width: 24px;
    height: 24px;
  }

  /* ========================================================= */
  /* recent message*/
  .recent_message {
    font-size: 0.9rem;
  }

  .active_chat_messages {
    padding-bottom: 5rem;
  }

  /* ========================================================= */
  /* camera icon*/
  .camera_icon {
    width: 23px;
    height: 21px;
  }

  /* ========================================================= */
  /* mobile view back icon */
  .back_icon {
    font-size: 1.2rem;
  }

  /* ========================================================= */
  /* rooms container */
  .rooms_container {
    padding: 1rem;
    align-items: center;
  }

  /* ========================================================= */
  /* room */
  .room {
    font-size: 0 1rem;
    width: max-content;
  }

  /* ========================================================= */
  /* craete room */
  .create_room {
    font-size: 1.1rem;
  }

  /* ========================================================= */
  /*  see active friends */
  .see_active_friends {
    font-size: 1rem;
  }

  /* ========================================================= */
  /* chatting page  */
  .chatting_page {
    padding: 1rem;
  }

  /* ========================================================= */
  /* profile picture  */
  .profile_picture {
    width: 55px;
    height: 55px;
  }

  /* ========================================================= */
  /* active user name  */
  .active_user_name {
    font-size: 1.3rem;
  }

  /* ========================================================= */
  /* last seen */
  .last_seen {
    font-size: 0.8rem;
  }

  /* ========================================================= */
  /* call_icon*/
  .call_icon {
    width: 20px;
    height: 20px;
  }

  /* ========================================================= */
  /* video_call_icon */
  .video_call_icon {
    width: 22px;
    height: 20px;
  }

  /* ========================================================= */
  /* help_icon  */
  .help_icon {
    width: 24px;
    height: 24px;
  }

  /* ========================================================= */
  /* sender messages  */
  .sender_message {
    font-size: 1rem;
  }

  /* ========================================================= */
  /* receiver messages  */
  .receiver_message {
    font-size: 1rem;
  }

  /* ========================================================= */
  /*  mic recoder icon  */
  .mic_recoder_icon {
    width: 14px;
    height: 18px;
  }

  /* ========================================================= */
  /*  typing area  icon  */
  :is(.send_arrow_icon, .gallery_icon, .emoji_icon) {
    width: 22px;
    height: 22px;
  }

  /* ========================================================= */
  /* Direct title */
  .direct_title {
    font-size: 1.6rem;
  }

  /* ========================================================= */
  /* group profile picture  */
  .group_profile_picture {
    width: 48px;
    height: 48px;
  }

  /* ========================================================= */
  /* group online status  */
  .group_online_status {
    width: 15px;
    height: 15px;
  }

  /* ========================================================= */
  /*  group name  */
  .group_name {
    font-size: 1.3rem;
  }
}
