@import "../../index.css";

body {
  background: url("../../src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100dvh;
}

.icons {
  font-size: 30px;
}
